body {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #F5F8FA;
    margin: 0;
    padding: 0;
}

.page_layout {
    padding: 50px 15px 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

div {
    position: relative;
}

section {
    width: 780px;
    float: right;
    text-align: left;
    margin-bottom: 50px;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.page_block {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.wide_block {
    position: relative;
    float: left;
}

.content {
    width: 980px;
    margin: 0 auto;
}

a {
    color: #42648b;
    text-decoration: none;
}

.count {
    font-size: 17px;
    color: #42648b;
    padding-bottom: 3px;
    line-height: 21px;
}

.post_content {
    width: 745px;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

.page_main_header_block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #405a73;
}

.wrong_message_block {
    background-color: #ffc9c9;
}

.error_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

h1 {
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.user_img {
    float: left;
    width: 90px;
}

.friend_description {
    float: left;
    width: 520px;
    min-height: 50px;

}

.login_title {
    color: #42648b;
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 600;
}

.cat_content {

}

.cat_autor {

}

.mini_img {
    max-width: 90px;
    height: 80px;
    border-radius: 20px;
    margin-left: -10px;
}

.friend_status {
    margin: 0 0 5px;
    border-bottom: 1px solid lightgray;
    display: block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    text-transform: lowercase;
    font-size: 16px;

}

.right_info {
    float: right;
    width: 125px;

}

.q_counter {
    text-align: center;
    color: #42648b;

}

.cat_moderator {
    float: right;
    margin-right: 10px;

}

h3 {
    font-size: 18px;
    margin: 0;
    color: #0b4884;
    text-align: center;
}

.f_status_msg_block {
    margin-top: 30px;
}

.no_friends {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

.wrong_message_block {
    width: 745px;
    background-color: #ffc9c9;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.error_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

.star-full {
    width: 20px;
    height: 20px;
    background: url(../img/star-full.png) no-repeat 0 0;
    float: left;
    margin-top: 3px;
}

.position {
    margin: 0 0 5px;
    padding-right: 20px;
    display: block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: right;
    border-bottom: 1px solid lightgray;
    text-transform: lowercase;
    font-size: 25px;
    color: #0b4884;
}

.count {
    font-size: 21px;
    color: #42648b;
    padding-bottom: 3px;
    line-height: 21px;
}

.q_counter {
    text-align: center;
    color: #42648b;

}

.change_role_form {

}

.login_input {
    box-sizing: border-box;
    padding: 6px 10px;
    height: 28px;
    line-height: 16px;
    width: 74%;
    border-radius: 3px;
    float: left;
    margin: 5px 0;
    border: 1px solid lightgray;
    background-color: #f8fcff;
}

.role_select {
    box-sizing: border-box;
    padding: 2px 5px;
    margin: 5px 0;
    height: 28px;
    line-height: 16px;
    width: 23%;
    border-radius: 3px;
    float: right;
    border: 1px solid lightgray;
    background-color: #f8fcff;
}

.change_role_submit {
    box-sizing: border-box;
    padding: 6px 12px 6px 12px;
    margin: 5px 0 -15px;
    height: 35px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #f8fcff;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
}

.cancel_submit_block {
    box-sizing: border-box;
    margin: 0 0 0 10px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #fde5e5;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
    display: inline-block;
}

.cancel_link {
    margin-top: 1px;
    display: block;
    padding: 6px 12px 6px 12px;
}

.cancel_link:hover {
    text-decoration: none;
}

.change_role_block {
    background-color: #e2f0f9;
    position: relative;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 15px 15px 0;
}

.header_add {
    float: left;
    font-size: 15px;
    margin: 0;
    color: #0b4884;
    text-align: center;
    display: block;
    width: 100%;
}

.success_message_block {
    background-color: #aae076;
}

.success_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 10px 0 0;
    float: left;
    width: 745px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #3bb6e2;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

