body {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #F5F8FA;
    margin: 0;
    padding: 0;
}

.page_layout {
    padding: 50px 15px 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

div {
    position: relative;
}

section {
    width: 780px;
    float: right;
    text-align: left;
    margin-bottom: 50px;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.page_block {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
    float: left;
}

.content {
    width: 980px;
    margin: 0 auto;
}

a {
    color: #42648b;
    text-decoration: none;
}

.post_content {
    width: 745px;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: underline;
}

.page_main_header_block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #405a73;
}

h3 {
    font-size: 18px;
    margin: 0;
    color: #0b4884;
    text-align: center;
}

h1 {
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.no_questions {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

.wide_block {
    position: relative;
    float: left;
    width: 100%;
}

.mini_img {
    max-width: 65px;
    height: 50px;
    border-radius: 15px;
}

.post_header {
    position: relative;
    float: left;
    width: 100%;

}

.post_header_left {
    float: left;
    width: 65%

}

.post_header_right {
    float: right;
    margin-right: 13px;
}

.post_header_info {
    margin-left: 65px;
    padding-top: 8px;
}

.post_image {
    display: block;
    float: left;
}

.post_author {
    line-height: 16px;
    padding-right: 20px;
    color: #0b4884;
}

h5.post_author {

    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.rel_date {
    color: #939393;
    font-size: 13px;
}

.post_category {
    float: right;
    text-align: right;
    margin-top: 3px;
}

.post_q_title {
    display: inline-block;
    font-size: 18px;
    color: #42648b;
    letter-spacing: -0.5px;
    line-height: 1.25;
    font-weight: bold;
    padding: 5px;
}

.post_description {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 15px;
    line-height: 1.4;
    padding: 5px;
}

.wall_text {
    display: inline-block;
    border-bottom: 1px solid #e7e8ec;
    width: 740px;
}

.post_footer {
    padding: 10px 0 0;
    margin: 0 20px;
    width: 450px;
}

.rate_number {
    display: block;
    color: #0c7296;
    font-size: 20px;
    padding: 3px 0 0 0;
    width: 40px;
}

.star-full {
    float: left;
    margin-top: 3px;
    width: 20px;
    height: 20px;
    background: url(../img/star-full.png) no-repeat 0 0;
}

.answers_header {
    margin: 5px;
    width: 100%;
    height: 40px;
    background-color: #e2f0f9;
    float: left;
    border-radius: 4px;
}

.answers_title {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 3px 8px;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    color: #405a73;
    font-size: 16px;
}

.answers_title:hover {
    text-decoration: none;
}

.answers_header:hover {
    background-color: #e2f0f9;
}

.delete, .complain, .correct_post {
    display: block;
    float: right;
    padding: 0 0 3px 2px;
    width: 28px;
    height: 28px;
}

.post_inner_content {
    float: left;
    width: 100%;
}

.rate_submit {
    box-sizing: border-box;
    margin: 5px 0 -15px;
    height: 25px;
    line-height: 16px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background-color: #f8fcff;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
}

.rate_form {
    width: 170px;
}

.rate_select {
    height: 25px;
    border-radius: 3px;
}

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 40px;
    min-width: 70px;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}

.answer_block {
    float: left;
    padding: 5px 10px;
    border: 1px solid #e7e8ec;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 670px;
}

.post_author_left {
    float: left;
    width: 44%;

}

.post_buttons_right {
    float: right;
}

.rate_block {
    float: left;
}

.inline {
    display: inline-block;
    float: right;
}

.add_answer_block {
    float: left;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 10px;
}

.answer_form {
    padding-left: 50px;
}

.q_place {
    min-height: 50px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f8fcff;
    padding: 7px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: 1px solid lightgray;
    width: 692px;
    max-width: 692px;
    max-height: 150px;

}

.q_submit {
    box-sizing: border-box;
    padding: 5px 12px 6px 12px;
    margin: 5px 0 -15px;
    height: 35px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #f8fcff;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
}

.show_mark {
    display: block;
    float: left;
    margin: 0 10px 0;
}

.inline_block {
    display: inline-block;
}

.answer_footer {
    padding: 10px 0 0;
    width: 430px;
    float: right;
}

.wrong_message_block {
    width: 745px;
    background-color: #ffc9c9;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.error_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

.correct_answer_block {
    float: left;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 10px;
}

.correct_answer_form {
    padding-left: 50px;
}

.correct_q_place {
    min-height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f8fcff;
    padding: 7px 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: 1px solid lightgray;
    width: 680px;
    max-width: 680px;
    max-height: 150px;
}

.correct_q_submit {
    box-sizing: border-box;
    padding: 6px 12px 6px 12px;
    margin: 5px 0 -15px;
    height: 35px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #f8fcff;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
}

.correct_ask_form_block {
    width: 710px;
    background-color: rgba(59, 182, 226, 0.55);
    position: relative;
    float: left;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.correct_qq_ask_form {
    padding: 5px 15px 10px;
}

.correct_qq_title_place {
    box-sizing: border-box;
    padding: 6px 10px;
    height: 28px;
    line-height: 16px;
    width: 74%;
    border-radius: 3px;
    float: left;
    margin: 5px 0;
    border: 1px solid lightgray;
    background-color: #f8fcff;
}

.correct_qq_select_place {
    box-sizing: border-box;
    padding: 2px 5px;
    margin: 5px 0;
    height: 28px;
    line-height: 16px;
    width: 23%;
    border-radius: 3px;
    float: right;
    border: 1px solid lightgray;
    background-color: #f8fcff;
}

.correct_qq_form_place {
    min-height: 78px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #f8fcff;
    padding: 7px 10px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    border: 1px solid lightgray;
}

.correct_qq_form_submit {
    box-sizing: border-box;
    padding: 6px 12px 6px 12px;
    margin: 5px 0 -15px;
    height: 35px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #f8fcff;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
}

input[type=text], input[type=password], input[type=number] {
    border-radius: 3px;
}

input, select {
    height: 35px;
    padding: 0 8px;
    border-radius: 2px;
    border: 1px solid #c1bfbf;

}

.cancel_submit_block {
    box-sizing: border-box;
    margin: 0 0 0 10px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid lightgray;
    background-color: #fde5e5;
    font-size: 16px;
    font-weight: 400;
    color: #0b4884;
    display: inline-block;
}

.cancel_link {
    margin-top: 1px;
    display: block;
    padding: 6px 12px 6px 12px;
}

.cancel_link:hover {
    text-decoration: none;
}



.errormsg {
    margin: 6px 0 0;
    display: block;
    color: #dd4b39;
    line-height: 17px;
}

.wrong_message_block {
    width: 745px;
    background-color: #ffc9c9;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
    float: left;
}

.ban_answer_message_block{
    background-color: #ffc9c9;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
    float: left;
}

.success_message_block{
    background-color: #aae076;

}

.success_add_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}