body {
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #F5F8FA;
    margin: 0;
    padding: 0;
}

.page_layout {
    padding: 50px 15px 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

div {
    position: relative;
}

section {
    width: 780px;
    float: right;
    text-align: left;
    margin-bottom: 50px;
}

.page_block {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.wide_block {
    position: relative;
    float: left;
}
.content {
    width: 980px;
    margin: 0 auto;
}

h1 {
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.page_main_header_block {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #405a73;
}

.wrong_message_block {
    width: 745px;
    background-color: #ffc9c9;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 20px 15px;
}

.error_msg {
    text-align: center;
    color: #405a73;
    font-size: 16px;
    padding: 0 15px 0;
    font-weight: 600;
}

.result_notice{
    font-size: 16px;
}

